html{
	background-color: lightgray;
	height : 100%;
	width : 100%;
}
footer{
	position: absolute;
	margin-left: -15px;
	margin-bottom: -15px;
	border-top-style: solid;
    border-top-color: coral;
	background-color: #111;
	height: 100px;
}
header {
	position:relative;
	margin-top: -20px;
	margin-right: -10px;
	margin-left: -10px;
	border-bottom-style: solid;
    border-bottom-color: coral;
	top: 0;
	background-color: #111;
	height: 100px;
}
table{
	margin-left: 15px;
}
tr{ 
	color:white;
} 
th{ 
	color:white;
	 /* border: 1px solid white;    */
} 
 
#body{
	border-radius: 25px;
	background: #111;
	color: white;
	margin: auto;
	margin-top: 50px;
	display:block;
	width: 80%;
	transition: 2s;
}
#span{ 
/* Color of navbar opener */
	position:relative;
	color: #fc4444;
	margin-top: 0.25em;
	margin-right: 5%;
	float:right;
	font-size:50px;
	cursor:pointer;
}
#spanStyle{
	/* champ_desc */
	font-style: italic;
	color:white;
}
#navDD{
	margin-right: 10px;
	float: right;
	cursor:pointer;
}
#linkMove{
	margin-top: 25px;
}
#spanNav{
	/* text color */
	color: lightgray;
}
#logo{
	margin-top: 0;
	padding-top: 25px;
	margin-left: 50px;
	color: white;
	font-style: italic;
	font-size: 50px;
}
#addinfo{
  display: block;/* So that each of the elements are listen vertically*/
  transition: 0.8s;/* time it takes for link to change color */
}
#addinfo:hover{
  border-left-style: solid;
  border-left-width: thick;
  border-left-color: coral;
}
#incorrectPassword{
	color:red;
}

.sidenav {
	/* the bar on the side */
  height: 40%;
  border-top-left-radius:25px;
  border-bottom-left-radius: 25px;
  width: 0; /* start 0 width so the function can give it width */
  position: fixed; /*so that the drop down doesnt push the nav to the right */
  z-index: 1; /* to make the x button clickable, when this is extended everything behind it is unreachable*/
  margin-top: 5%;
  right: 0; /* So that is extends from the right*/
  background-color: #111;
  overflow-x: hidden;
  transition: 1s; /* time it takes to extend */ 
  padding-top: 60px;
}
.sidenav a {
	/* Links */
  padding: 8px 8px 8px 32px;
  text-decoration: none; /* getting rid of the links */
  font-size: 25px;
  color: lightgray;
  display: block;/* So that each of the elements are listen vertically*/
  transition: 0.8s;/* time it takes for link to change color */
}
.sideNavHover a:hover{
  border-left-style: solid;
  border-left-width: thick;
  border-left-color: coral;
}
.sidenav .closebtn {
/* x button */
  border-top-style : none;
  border-top-color: none;
  border-bottom-style: none;
  border-bottom-color: none;
  position: absolute;
  top: 0; /*So the x button is not effected by the .sidenav classes top style indicator */
  right: 25px;
  font-size: 36px;
  margin-right: 175px;
}
.imgcname{
	padding:40px;
	float:left;
}
.nodec {
	text-decoration: none;
	color:white;
}
.nodec:hover {
	text-decoration: none;
	color:white;
	color: coral;
}

/* https://www.youtube.com/watch?v=yrRbTLHGnvA&list=PLcJ7Ar5qZeeGTSW-46X_rBY2gwLflMcck&index=1 */

	
	